#masthead{
    position: relative;
    background-color: rgb(218, 170, 107);
}
#greeting{
    position: relative;position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
#greeting h1{
    font-weight: bold;
}
#greeting p{
    font-size: 1.30rem;
}