#about{
    display: flex;
    flex-direction: column; 
    height: 40rem; 
    text-align: center; 
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
#about p{
    max-width: 40rem;
}
#about i {
    font-size: 100px;
    padding-bottom: 45px;
}