#about{
    display: flex;
    flex-direction: column; 
    height: 40rem; 
    text-align: center; 
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
p{
    max-width: 40rem;
}
i {
    font-size: 100px;
    padding-bottom: 45px;
}

@media only screen and (max-width: 600px) {
    #about{
        padding: 0 5%;
        height: 30rem;
    }
} 