<div id="contact">

    <h3>Want to hire me? Contact me now!</h3>

    <div>
        <i class="far fa-envelope" ></i>
        <a href="mailto:example@gmail.com">example@gmail.com</a> <br>
    </div>
    <div>
        <i class="fas fa-phone-alt"></i>
        <a href="tel:+18090000000">+1 809-000-0000</a>
    </div>
    <div>
        <i class="fas fa-map-marker-alt"></i>
        <a href="https://www.google.com/maps/place/Santo+Domingo/@18.4801923,-70.01692,12z/" target="_blank">Sto Dgo, Dominican Republic</a>
    </div>
</div>