#contact {
    height: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
#contact div{
    width: 300px;
}
#contact i {
    margin: 5px 15px;
    border: solid 1px;
    padding: .6rem;
    border-radius: 150%;
}
@media only screen and (max-width: 600px) {
    h3 {
        padding: 0 18px;
    }
}