<div id="skills">
  <h2>What can i do?</h2>

  <div class="skill oddSkill">
    <i class="fab fa-angular"></i>
    <div class="skillsDescription">
      <h3>Front-end</h3>
      <p>I can design exactly what you want, starting a blank project or taking a page guide.</p>
    </div>
  </div>

  <span>.............</span>

  <div class="skill evenSkill">
    <i class="fas fa-laptop-code"></i>
    <div class="skillsDescription">
      <h3>Back-end</h3>
      <p>If you need a server service, i can configure a secure one, with efficient coding and using newer technologies
      </p>
    </div>
  </div>
</div>