#avatar{
    height: 200px;
    border-radius: 100%;
    border: solid #000000 3px;
    margin: 3rem 0 3rem;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-description{
    display: flex;
    background-color:#f8f9fa;
    height: 300px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}
.about-text{
    width: 500px;
    text-align: justify;
}