#resume {
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 5rem;
  padding: 40px 0;
}
div {
  display: flex;
  max-width: 100%;
}
div p {
  width: 20rem;
}
div p span {
  font-weight: bold;
}
a {
  color: black;
  font-size: 3.5rem;
  padding:0 100px;
}
@media only screen and (max-width: 600px) {
  h2{
    font-size: 3rem;
  }
  .resumeInfo{
    flex-direction: column-reverse;
    align-items: center;
  }
  .fa-file-download{
    padding-bottom: 30px;
  }
}